/* FONTS PALO SECO */
@font-face {
    font-family: 'paloseco';
    src: url('../fonts/anonymous-webfont.eot');
    src: url('../fonts/anonymous-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anonymous-webfont.woff2') format('woff2'),
         url('../fonts/anonymous-webfont.woff') format('woff'),
         url('../fonts/anonymous-webfont.ttf') format('truetype'),
         url('../fonts/anonymous-webfont.svg#anonymousregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* FONTS CON SERIFA */
@font-face {
    font-family: 'serif';
    src: url('../fonts/artifika-regular-webfont.eot');
    src: url('../fonts/artifika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/artifika-regular-webfont.woff2') format('woff2'),
         url('../fonts/artifika-regular-webfont.woff') format('woff'),
         url('../fonts/artifika-regular-webfont.ttf') format('truetype'),
         url('../fonts/artifika-regular-webfont.svg#artifikamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}



.header{
	display:flex;
	justify-content:space-between;
    height:58px;
}

   .header-figure{
 	  margin:0;
 	  padding:0;
    }


	    .header-figure img{
	 	  width:220px;
	 	  min-height:58px;
	    }

    .header-nav{
    	flex-grow:3;
    	background:#2654A2;
    	height:58px;
    }

	.nav-list{
      list-style:none;
      margin-top:0;
	}


	   .nav-list li{
	   	   display:inline-block;
	   	   margin-left:90px;
	   	   color:white;
	   	   font-family:"paloseco";
	   	   font-size:0.8em;
	   	   font-weight:bold;
           line-height:54px;

	   }

       .nav-list li:hover{
        border-top:4px solid white;
         box-sizing:border-box;
         transition:0.5s;
       }


.section--slider{
    background:#2654A2;
}


          .slider li img{
             height:650px;
          }

          .slider--article{
             height:250px;
             position:relative;
             margin:0  20px;
             padding:30px 0;
          }

          .slider-article--title{
            color:white;
            font-family:"paloseco";
            font-weight:bold;
            margin-left:60px;
          }

          .slider--article-content {
            color:blue;
            font-family:"serif";
            color:white;
            width:780px;
            margin-left:5%;
            line-height:25px;
          }

          .slider--figure{
            position:absolute;
            right:0;
            top:35px;
            transform: skew(-8deg,2deg);
          }

          .slider--figure img{
              width:260px;
              height:170px;
          }

          .btn-read{
            margin-left:64px;
          }

          .btn-read input{
             color:#0D0CE5;
             padding:7px 22px;
             border-bottom:5px solid #AAA;
          }


.section--service{
    background:#EFF0EB;
    padding:20px 0;
    display:flex;
    flex-wrap:wrap;
}

     .section--servive-header{
        width:400px;
        margin:auto;
     } 

     .section--servive-header h2{
        margin:0px;
        padding:0px;
        color:#5952DB;
        font-family:"paloseco";
        font-size:1.2em;
        text-align:center;
        font-weight:bold;
     }

     .section--service-figure{
        display:inline-block;
        transform: skew(-13deg,1deg);
        margin-top:30px;
        margin-left:55px;
     }

     .section--service-figure img{
        width:200px;
        height:170px;
     }

     .btn-service input{
        margin-left:500px;
     }


.service-worflow{
    background:white;
}


   .service--worflow-header {
      padding:10px 0;
   }
   .service--worflow-header h3{
      color:#5952DB;
      text-align:center;
      font-size:1.7em;
   }

   .service--worflow-figure img{
       width:270px;
       height:150px;
   }

   .service--worflow-article{
     margin-left:10%;
   }


   .service--worflow-figure{
      display:inline-block;
   }

   .figure-main{
      margin-left:10%;
   }

      .figure-main img{
         height:250px;
         width:360px;
      }



.footer{
    background:#2654A2;
    display:flex;
    padding:10px 0;
    justify-content:space-around;
    align-items:center;
}


  .footer p {
     color:white;
     font-family:"paloseco";
     font-size:0.9em;
  }


  .footer-ubication{
    width:530px;
  }










